@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #e41f35;
  --color-secondary: #1a1a1a;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}

.navbar .active {
  color: #e41f35;
  border-bottom: 2px solid #e41f35;
}
.dashboard-nav .active {
  color: #e41f35;
  font-weight: 700;
}
